<div class="home">	
	<div id="promotions" class="center-block clearfix col-xs-12 col-sm-8 col-md-7">
		<figure>
			<figcaption class="center-block col-sm-10">
				<h2>spa facial special!</h2>
				<hr>
				<h3>25% off cash payments</h3>
				<a class="btn btn-danger" href="">Get Details</a>
			</figcaption>
		</figure>
	</div>
	<img class="img-responsive" src="/assets/womans_face.jpg" />
</div>

<div id="mainCategories" class="center-block clearfix col-xs-12">
	<figure>
		<img class="img-circle img-responsive" src="/assets/man-massage.jpg" />
		<h2>Skin Treatments</h2>
		<p></p>
	</figure>
</div>

