<div class="home">	
	
	<div id="promotions" class="center-block clearfix col-xs-12 col-sm-8 col-md-7">
		<% if @promotion != nil %>
		<figure>
			<figcaption class="center-block col-sm-10">

				<h2><%= @promotion.header %></h2>
				<hr>
				<h3><%= @promotion.subheader %></h3>
				<br>
				<p><%= @promotion.description %></p>
				<a class="btn btn-danger" href="/appointments/new">Schedule an Appointment Today!</a>
			</figcaption>
		</figure>
		<% end %>
	</div>
</div>

<div id="mainCategories" class="center-block clearfix row">
	<figure class="container">
		<img class="pull-left img-circle img-responsive" src="/assets/man-massage.jpg" />
		<figcaption class="col-xs-8 col-md-9">
			<h2>Skin Treatments</h2>
			<p class="hidden-xs">Say goodbye to cookie-cutter facials! Our Dermalogica skin treatments are 100% customized to your skin's needs with a thorough skin analysis, making it a personalized treatment created especially for your skin's needs!Say goodbye to cookie-cutter facials! Our Dermalogica skin treatments are 100% customized to your skin's needs with a thorough skin analysis, making it a personalized treatment created especially for your skin's needs!</p>

			<a id="skinTreatments" class="btn btn-danger" href="/services">Get Details</a>
		</figcaption>
	</figure>
<hr />
		<figure class="container">
		<img class="img-circle img-responsive" src="/assets/circle_honey.jpg" />
		<figcaption class="text-right col-xs-8 col-md-9">
			<h2>BODY SUGARING</h2>
			<p class="hidden-xs">
The art of body sugaring is a form of hair removal that originated in ancient Egypt when a smooth, hairless body was the standard of youth and beauty. Sugar paste is an all natural product made from sugar, lemon and water. Great for any part of the body! 
			</p>
			<a id="bodySugaring" class="btn btn-danger" href="/services">Get Details</a>
		</figcaption>
	</figure>
<hr />
		<figure class="container">
		<img class="pull-left img-circle img-responsive" src="/assets/circle_relax.jpg" />
		<figcaption class="col-xs-8 col-md-9">
			<h2>Spa Policies</h2>
			<p class="hidden-xs">
As a courtesy to other guests and our spa therapists, if you must cancel or reschedule an appointment we require that you give at least 24 hours notice.  Cancellations made with less than 24 hours of your appointment will be charged a $10 fee.  “No-shows” will be charged 50% of the treatment price.  Appointments made the "day of" are considered confirmed to which the cancellation policy does apply.
			</p>
			<a class="btn btn-danger" href="/policies">Get Details</a>
		</figcaption>
	</figure>
</div>

