<div class="home">	
<div id="promotions" class="center-block clearfix col-xs-10 col-sm-8 col-md-7">
<figure>
	<img class="img-responsive" src="/assets/promotion_dotAccent.png" />
</figure>
</div>
</div>

<div id="mainCategories" class="center-block clearfix col-xs-12">
<figure>
<img class="img-circle img-responsive" src="/assets/man-massage.jpg" />
<h2>Skin Treatments</h2>
	<p></p>
</figure>
</div>
	
