@import '_variables';

body {
color:#454545;
  font-family: ariel, sans-serif;
  padding-bottom: 100px;

.appointment_banner {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background-color: $beautiful-blue;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  
  padding: 3px;
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
    background-color: $beautiful-blue;
      color: #fff;
    }
  }
}

h1, h2, h3{line-height:1.0;}

  h1{
  background-color: #feefc5;
  padding:7px;
  }

  h2{
  color: $primary-highlight;
  }

  li {
    list-style: none;
  }

  #new_policy_link {
    padding-top: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  form input {
    margin-bottom: 10px;
  }

  a {
  color: $primary-orange;
  }

  a:hover, a:focus {
  color: #b4997d;
  background-color: #f4f1ee;
  outline: none !important;
  }

    .form-control:focus {
    border-color: $primary-orange;
    box-shadow: 0 1px 1px rgba(242, 131, 82, 0.075) inset, 0 0 8px rgba(219, 87, 43, 0.6);
    outline: 0 none;
  }

  .adminLink{
  padding-top:10px;
}


} 

