
@import '_variables';

@media screen and (max-width: 825px){
	.home{
	min-height:350px !important;
	background: url('/assets/womans_face_small.jpg') no-repeat center -50px !important;
	background-color: $head-bg-color;

		#promotions {
		margin: 0 auto !important;
		}
	}

	#mainCategories{
	max-width:475px;

		img{
		width:75px !important;
		}

		h2{
		font-size:28px !important;
		}
	}
}

form{
	padding-bottom:15px;
}

.home{
background: url('/assets/womans_face.jpg') no-repeat center -100px;
background-color:#FEEFC5;
overflow:hidden;
min-height:630px;
position:relative;
width:auto;


	#promotions {
	background-color: rgba(0,0,0,.6);
	float:none;
	margin: 50px auto 75px auto;
	max-width:655px;
	min-width:300px;	
	z-index:5;

		figure
		{
		display:block;
		margin:0 auto;
		position:relative;

		
			img{
				position:absolute;
				top:-17px;
				}

			figcaption{
			float:none;
			margin:25px auto;
			text-align:center;
			z-index:10;

				h2, hr{
				color:#fee686;
				font-size:45px;
				}

				h3{
				color:#fff;
				font-size:40px;
				}

				h2, h3{
				line-height:1;
				text-transform:uppercase;
				}

				a{
				margin-top:10px;
				}
			}

			p{
			color:#fff;
			margin-top: -20px;
			}

		}
	}
}

#mainCategories{
	margin-top:15px;

	figure{
		margin:15px auto;

		img{
		border:solid 4px $primary-highlight;
		display:inline-block;
		max-width:200px;
		}

		figcaption{
			display:inline-block;
			h2{
			color: $primary-highlight;
			text-transform:uppercase;
		}
		}

	}

}