.navbar {
  margin-top: 60px !important;
  margin-bottom: 0 !important;
  height: 10px !important;
  background-color: gray;
  border: none;
  border-radius: 0;
}

.navbar .container-fluid {
  /*border-radius: 0 !important;*/
  /*background-color: gray;*/
}

.navbar-inner {
  

}

.navbar-inverse .navbar-brand {
color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
color: #fff;
  &:hover {
    color: rgb(251,173,181);
  }
}



.home {
  
  overflow: hidden;
}

.home img {
  width: 100%;
  margin-top: -160px;
}

.inner-container {
  margin-top: 100px;
}