.navbar {
  margin-bottom: 0 !important;
  height: 10px !important;
  border: none;
  border-radius: 0;
  background: #db572b;
  background: -moz-linear-gradient(top,  #db572b 0%, #bf431a 94%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db572b), color-stop(94%,#bf431a));
  background: -webkit-linear-gradient(top,  #db572b 0%,#bf431a 94%);
  background: -o-linear-gradient(top,  #db572b 0%,#bf431a 94%);
  background: -ms-linear-gradient(top,  #db572b 0%,#bf431a 94%);
  background: linear-gradient(to bottom,  #db572b 0%,#bf431a 94%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db572b', endColorstr='#bf431a',GradientType=0 );
}
.main {
  .active {
    color: #FBADB5 !important;
  }
}
.navbar .container-fluid {
  background-color: #db572b;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  &:hover {
    color: rgb(251,173,181);
  }


}
