@import '_variables';

@media screen and (max-width: 768px){
	
	#contactBackground{
	background-image:none !important;	
	background-color: $head-bg-color;
	height:auto !important;

		.contact{
		padding:15px 5px 30px 5px !important;
		}
	} 

	#product_list{
		li{
		display:block !important;
		margin:15px auto 50px auto !important;
		}
	}
}


/*/// Contact Page ///*/

#contactBackground{
background:url('/assets/lotus.jpg')no-repeat center center;	
background-color: $head-bg-color;
height:775px;
margin:0 auto;
width:100%;

	.contact {
	display:block;
	float:none;
	margin:0 auto;
	max-width:800px;
	padding-top:35px;
	}

	h1, p{
	background-color:rgba(255,255,255, .0) !important;
	text-align:center;
	}

	address{
	color:$primary-orange;
	margin-bottom:5px;
	}

	h3{
	font-size:26px;
	}

	h4{
	font-style:italic;
	margin:0;
	padding:0;
	text-align:center;
	}


	label{
	color:#252525;
	}

	figure{
	background-color: rgba(255,255,255, .8);
	border-radius:3px;
	margin:10px auto;
	padding:10px;
	}

	figure:first-of-type{
		p{
		 line-height: 1.1;
    	  margin: 0 0 3px;
		}

		h6{
		margin:3px 0;
		}

		div{
		margin:10px 0;
		}
	}
}




/*/// User Sign-In Page ///*/
#LogInPage {
	float:none;

	div:first-of-type{
	float:none;
	padding-bottom:10px;
	}

}


/*/// Policies Page ///*/

#policy_list, #promotion_list {
	margin-top:20px;
}


.promotion{
    border: 1px solid #db572b;
	height: 260px;
	margin:15px;
}


/*/// Appointment Page ///*/

.appointments {
  ul li {
    height: auto;
    margin:15px;
    padding: 10px;
    border: 1px solid #db572b;
  }
}

#appointment_list {
	p {
	display:inline-block;
	}

	span {
	display:block;
	font-weight: bold;
	}

	.delete_link{
	margin-top:15px;
	}

}

	.new_appointment{
		select{
		width:auto;
		margin-right:15px;
		}

		.appointment-dropdown{
			display: inline-block;
    	margin: 20px 0 30px 13px;
		}

	}

/*/// Services Page ///*/

.service_list{
	
	span{
	display: inline-block;
	position: relative;
    top: -2px;
	}

	.icon-usd{
		margin-right:-2px;
		width:13px;

			img{
			height:18px;
			width:18px
			}

	}

	span img {
	width:20px;
	}
}

.services {

	figure{
	border-radius: 6px;
    overflow: hidden;
    position: relative;
    max-height: 215px;

	}

		h4{
    	clear: both;
    	line-height: 1.3;
    	margin-bottom: 0;
    	margin-left: auto;
    	margin-right: auto;
    	padding-top: 10px;
    	width: 96%;
		}

	#service_list {
	margin-top: 20px;


	li{
	background-color:#FEEFC5;
	margin:10px;
	}

}
	h1{
	background-color: rgba(0, 0,0, .0);
	font-size:58px;
	left:5%;
	position: absolute;
    top: 5%;
    z-index: 10;
    }

	#sugaring{

		div:first-of-type{
		background: url('/assets/legs.	pg') no-repeat;
		background-position: 0 -5px;
		margin-top:10px;
		}
	}

  li {
  margin-top: 40px;
  }
  .service-price, .service-duration {
    display: inline-block;
    font-size:18px;
    margin-right: 40px;
  }

  h3 {
    margin-top: 0;
  }

  .admin-links p {
  	display: inline-block;
    float: right;
    
  }

}

select {
  width: 220px;
  height: 30px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.date-group {
  padding-bottom: 30px;
}


/*/// Products Page ///*/

#product_list{

		.admin-links{
		height:auto;
		}

	h2{
	background:#f3eea6;
	padding:10px 5px;
	text-align:center;
	}
	
	li{
    	display: inline-block;
    	float: none;
    	margin:10px 10px 50px 10px;
    	min-width:200px;
		vertical-align:top;
	}

	div{
	height:300px;
	}	

	img{
	margin:0 auto;
	max-height:300px;
	}
}

/*/// Appointments Banner ///*/

.appointment_banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  background-color: $beautiful-blue;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  
  padding: 3px;
  a {
    display:block;
    text-decoration: underline;
    color: #fff;
    width:100%;
    &:hover {
    background-color: $beautiful-blue;
      color: #fff;
    }
  }

}