@import '_variables';

/*.blurb {
width: 360px;
height: 200px;
position: relative;
z-index: 4;
color: #fff;
font-size: 40px;
margin-left: 25%;
margin-top: 7%;
}*/

h1, h2, h3{line-height:1.0;}

	h2{
	color: $primary-highlight;
	}

#product_list{
	img{margin-top:15px;}
}