<div id="contactBackground">
	<div class="contact col-md-7 col-lg-6 col-sm-10">
		<figure class="clearfix">
			<address class="text-center">
				<h3>849 First Street&nbsp; | &nbsp;Benicia CA 94510</h3>
				<h4>(Turn right onto West I)</h4>
			</address>
			<div class="col-sm-6">
				<p>For general inquiries please call:</p>
				<h4>(707) 297-6148</h4>
			</div>	
			<div class="col-sm-6">
				<p>Available by appointment:</p>
				<h4>Wed-Fri: 10:00am-6:00pm</h4>
				<h4> Sat: 10:00am-3:00pm</h4>
			</div>
		</figure>
		<figure class="clearfix">
			<h1>Want to get in touch?</h1>
			<p>Please fill out the form below and we'll get back to you as soon as possible.</p>

			<%= render 'form', :inquiry => @inquiry %>
		</figure>
	</div>
</div>