
<div class="site-container products container">
 
  <div>
    <h1>Our Products</h1>
    
    <ul id="product_list" class="col-sm-12">
      <% @products.each do |p| %>

      <li id="<%= p.id %>" class="col-md-5 col-sm-12">
        <div class="product">
         <%= image_tag(p.image_url, class: "img-responsive") %>
         
         </div>
          <h2><%= p.name %></h2>
       </li>
       <% end %>
     </ul>
   </div>
 </div>
