<li><h2><%= @policy.name %></h2><p><%= @policy.description %></p>
  <%= link_to "Delete", @policy, method: :delete %>
  <%= link_to "Edit", edit_policy_path(@policy), class: "edit_link", remote: true %>

</li>