<div class="site-container policies container">
	<%if user_signed_in? && is_admin? %>
	<%= link_to "Add a Policy", new_policy_path, id: "new_policy_link", remote: true %>
	<br><br>
<% end %>

	<ul id="policy_list">
		<div class="col-md-12 promotion">
		<% @policies.each do |p| %>
		<li><h2><%= p.name %></h2><p><%= p.description %></p>
			<%if user_signed_in? && is_admin? %>
			<%= link_to "Delete", p, method: :delete, class: "delete_link", remote: true %>
			<% end %>
			<hr>
		</li>
		<% end %>
	</div>
	</ul>
</div>